*.pyc
*.egg
.eggs/
.ipynb_checkpoints/
*.swp
*.egg-info/
.cache/
build/
*.DS_Store
.vscode
.idea/
data
fluid-soundfont-3.1/COPYING
fluid-soundfont-3.1/FluidR3_GM.sf2
fluid-soundfont-3.1/FluidR3_GS.sf2
